<h1 id="tableLabel">Inventory Management System</h1>

<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/charts']" routerLinkActive="active">Charts</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet> <!-- Router outlet for loading routed components -->
</div>